<!doctype html>
<html>
<head>
    <title>artFlask</title>
</head>
<body>
<h2>Welcome to the artFlask API Server</h2>
<pre>
______________________
|                     |
| (____)              |
|  (oo)               |
|---\/           /----|
|  ||           / |   |
|--||          *  ||--|
|  ^^             ^^  |
|---------------------|
1       artFlask      1
</pre>
<div class=metanav>
    {% if not session.username %}
    <a href="{{ url_for('login') }}">log in</a>
    {% else %}
    Welcome back <b>{{ session.username }}</b> <br/>
    <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
</div>
</body>
</html>
